*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body {
    width: 100%;
    height: 125%;
    position: relative;

}
.main {
    width: 70vw;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
   
}

.leftside {
    width: 20vw;
    height: 100%;
   

}
.profile {
    background-color: rgb(111, 111, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    color: white;
}
.profile h2{
    margin-top: 10px;
} 

.leftbotm {
   
       height: 100%;
       background-color: rgb(43, 42, 42);
       color: white;
       
}
.leftbotm .contact {
    margin-left: 30px;
    padding: 30px;
}
.leftbotm .contact h2 {
    margin-bottom: 15px;
    border-bottom: 3px solid white;
    
}
.leftbotm .contact p {
    margin-bottom: 10px;
}
.skills {
    margin-left: 30px ;
    padding: 30px;
    line-height: 30px;
}
.skills meter {
    width: 100%;
}
.skills h2 {
    border-bottom: 3px solid white;
    margin-bottom:15px ;
}
.certificates h2 {
    border-bottom: 3px solid white;
    margin-bottom: 15px;
}
.certificates {
    margin-left: 30px;
    padding: 30px;
    line-height: 30px;
}
.rightside {
    width: 80vw;
    height: 127%;
    background-color: white;
}
.object {
    height: 18%;
    padding: 60px;
    line-height: 20px;
}
.object h3 {
    border-bottom: 3px solid grey;
    margin-bottom: 10px;
    color: blue;
    padding: 5px 0;
}
.work {
    height: 31%;
    padding: 60px;
}
.work h3 {
    border-bottom: 3px solid grey;
    color:blue;
    margin-bottom: 10px;
    padding: 5px 0;
}
.work li {
    padding: 10px 0;
}
.work p {
    padding: 10px 0;
}
.projects {
    height: 30%;
    padding: 60px;
    line-height: 20px;
}
.projects h3 {
    border-bottom: 3px solid grey;
    margin-bottom: 10px;
    color: blue;
    padding: 5px 0;
}
.projects li {
    padding: 10px 0;
}
.edu{
    height: 21%;
    padding: 60px;
    
}
.edu h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 3px solid grey;
    padding: 5px 0;
    color: blue;
}
.edu li {
    padding: 10px 0;
}